/*CSS DOCUMENT */


body {
	background-color: #211f20;
	color: #ffffff;
	font-family: "adobe-garamond-pro", serif;
}

div.container {
	max-width: 40em;
	margin: auto;
}

img {
	width: 100%;
}

figure {
	margin: 1em 0;
}

h1, h2, h3, h4, p, ul, ol, li {
	margin: 0; 
	padding:0; 
	font-size: 1em; 
	font-weight: normal;
    line-height: 1.4em;
}

p {
	margin-bottom: 1em;

}

h1 {
	font-size: 5em; 
	font-weight: bold;
}

h2 {
	font-size: 2.5em; 
	font-weight: ___;

}

h3 {
	font-size: 2em; 
	font-weight: _____;
	margin-bottom: .3em;
	margin-top: 1em;

}

h4 {
	font-size: 1.4em;

}

.univers {
    color: #7db37d;
	font-size: 1.5em;
	margin-top: 0em;
}

.acumin {
    color: #da3981;
	font-size: 1.5em;
	margin-top: 0em;
}


